$color-bg-black: #101010;
$para-color: #88879e;
$color-center1: white;
$header-font-color:#fdfdff;
$background:#1e1d41;
$button-color:#E8523A;
// ......nxt-color.....
$next-color1:#583FD2;
$next-color2:#8665DE;
$footer-text: rgba(198, 201, 216, 0.75);
$center-color:#1FB6FC;
$footer-center-color:#F80040;
$simanto-color1:#150941;
$simanto-color2:#150941de;